@import url(header.css);
@import url(footer.css);
body {
    width: 100%;
    height: 100vh;
    background: url(../../images/sunset-2530165_1920.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#flash {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-left: 825px;
    margin-top: 250px;
}
#obelezavanje {
    height: 100px;
    width: 400px;
    margin-left: 835px;
    margin-top: 50px;
    font-size: large;
    color: black;
}
#obelezavanje2 {
    height: 400px;
    width: 400px;
    margin-left: 795px;
    font-size: 15px;
    
}