* {
    margin: 0;
    padding: 0;
}

.navigacija {
    left: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
.meni {
    display: inline-block;
    width: calc(100% / 7);
    height: 50px;
    line-height: 50px;  
}
.navigacija ul {
    width: 100%;
    height:50px;    
}
.dekoracija {
    text-decoration: none;
    color: white;
}
.meni:hover {
    background-color: grey;
    transition: 1s;
}